.alert{
    position: absolute;
    background-color: rgb(122, 218, 122);
    width: 500px;
    padding: 10px;
    border-radius: 15px;
    transform: translateY(-100);
    z-index: 10;
    bottom: 50px;
    animation: pop 3000ms ease-out;
    animation-fill-mode: forwards;
    opacity: 0;    
}

@keyframes pop {
    0%{
        bottom: 10px;
        opacity: 0;
    }
    10%{
        bottom: 50px;
        opacity: 1;
    }
    90%{
        bottom: 50px;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}