@font-face {
    font-family: coalition;
    src: url("landingPageFont.ttf");
}

.fp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
    gap: 0;
    line-height: normal;
}

.text {
    font-size: 7vw;
    font-weight: 500;
    font-family:     Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.text {
    @media (min-width:640px) {
        font-size: 5vw;
    }
}