.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(115, 115, 115, 0.413);
    backdrop-filter: blur(3px);
    height: 400px;
    width: 500px;
    border-radius: 40px;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.teamName {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 10px;
}

.teamDetails {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
    gap: 10px;
}

.teamCodeDiv {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}


.icon {
    display: inline-block;
    padding: 4px;
    margin: 0 10px;
    margin-bottom: -7px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}

.icon:hover {
    color: orange;
    border-color: orange;
}

.bold {
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
    margin: 10px 0;
}